  <h1 class='country__name'>{{0.name.common}}</h1>
  <div class='country__info'>
  <div class='country__description'>
    <p class='country__capital'><b>Capital:</b> {{0.capital}}</p>
    <p class='country__population'><b>Population:</b> {{0.area}}</p>
    <p class='country__language'><b>Languages:</b> </p>
    <ul class='languages'>
      {{#each 0.languages}}
            <li class='language'>{{this}}</li>
      {{/each}}
    </ul>
    <p class='country__currency'><b>Currencies:</b> </p>
    <ul class='currencies'>
      {{#each 0.currencies}}
        <li class='currency'>{{this.name}}: {{this.symbol}}</li>
      {{/each}}
    </ul>
  </div>
  <img {{#each 0.flags}}{{#if @first}}src='{{this}}'{{/if}}{{/each}} alt='{{0.name.common}}' class='country__flag' />
  </div>
